---
title: 'Steve Redka'
---
.bg
  / About

  .container-fluid
    .text-center
      %img.profile-pic{src: "/img/portrait.jpg", width: "200"}/
      %h1 Steve Redka
      %h3 Ruby on Rails developer
      %h5 Dancer also
      .text-center.social-icons
        %a{href: "mailto:cogitofallacy@gmail.com", target: "_blank"}
          %i.far.fa-envelope
        %a{href: "https://github.com/SteveRedka", target: "_blank"}
          %i.fab.fa-github-square

  / Portfolio

  - sorted_portfolios.each_with_index do |entry, i|
    .row{:class => i.odd? ? 'row-white' : 'row-grey'}
      .col-sm-8.col-sm-offset-2
        .row.work-item-row
          .col-lg-8
            %img.img-responsive.center-block.portfolio-photo{src: "../portfolio_photos/#{entry[:photo_id]}"}
          .col-lg-4
            %h2
              %h3= entry[:url] ? link_to(entry[:title], entry[:url]) : entry[:title]
            %div= entry[:description]
            - if entry[:role]
              %h3 Role
              %div= entry[:role]
        .row.text-center
          .col-xs-12
            - entry[:tech_logos].each do |logo|
              %img.techlogo{src: "../tech_logos/#{logo}", width: "100"}/
        - if entry[:url]
          .row.text-center{style: "margin:20px;"}
            %a.btn.btn-launch{href: entry[:url], target: "blank"} Go to app

  / Tools
.row.row-tools.row-white
  .col-sm-12.text-center
    %h3 Tools I Use
    %img.techlogo{src: "../tech_logos/rails.png", width: "150"}/
    %img.techlogo{src: "../tech_logos/git.png", width: "150"}/
    %img.techlogo{src: "../tech_logos/sublime.png", width: "150"}/
.row.row-footer.text-center
  .col
    %div{style: "margin:50px;"}
      %h3{style: "margin:50px 0 15px"} I'm available for work, get in touch
      %a{href: "mailto:cogitofallacy@gmail.com", target: "_blank"}
        cogitofallacy@gmail.com
