---
title: 'Steve Redka'
---
.bg
  / About

  .container-fluid
    .text-center
      %img.profile-pic{src: "/img/portrait.jpg", width: "200"}/
      %h1 Steve Redka
      %h3 Ruby on Rails developer
      %h5 Metalearning entusiast, chronomancer, dancer also
      .text-center.social-icons
        %a{href: "mailto:cogitofallacy@gmail.com", target: "_blank"}
          %i.far.fa-envelope
        %a{href: "https://github.com/SteveRedka", target: "_blank"}
          %i.fab.fa-github-square

  / Portfolio

  - sorted_portfolios.each_with_index do |entry, i|
    .row{:class => i.odd? ? 'row-white' : 'row-grey'}
      .col-sm-8.col-sm-offset-2
        .row.work-item-row
          .col-lg-8
            %img.img-responsive.center-block.portfolio-photo{src: "../portfolio_photos/#{entry[:photo_id]}"}
          .col-lg-4
            %h2
              %h3= entry[:url] ? link_to(entry[:title], entry[:url], target: "blank") : entry[:title]
            %div= entry[:description]
            - if entry[:role]
              %h3 Role
              %div= entry[:role]
        .row.text-center
          .col-xs-12
            - entry[:tech_logos].each do |logo|
              %img.techlogo{src: "../tech_logos/#{logo}", width: "100"}/
        - if entry[:url]
          .row.text-center{style: "margin:20px;"}
            %a.btn.btn-launch{href: entry[:url], target: "blank"} Go to app

/ .row.row-tools.row-white
/   .col-sm-12.text-center
/     %h3 Tools I Use
/     - %w[rails.png git.png].each do |tool|
/       %img.techlogo{src: "../tech_logos/#{tool}", width: "150"}/

.row.row-footer.text-center
  .col
    %div.questions{style: "margin:0 50px;"}
      %h2 Drop me a letter if you:
      %p Have an awesome idea for a project
      %p Your Rails app stopped working
      %p You need to add extra features
      %p Your previous developer left silently and you need a reliable one
      %p Ruby stuff in general
      %a{href: "mailto:cogitofallacy@gmail.com", target: "_blank"}
        cogitofallacy@gmail.com
